/* main.css */
@charset "UTF-8";

* {
	margin : 0;
	padding : 0;
}

body { margin-left : 150px;  margin-right : 150px; }
hr { clear : left; }
a { text-decoration : none;  }

header nav { align : center; }
header nav ul { list-style : none; }
header nav ul li {
	float : left;
	width : 150px;
	height : 35px;
	margin : 3px;
}
header nav ul li a {
	text-decoration : none;
	display : block;
	width : 150px;
	height : 35px;
	text-align : center;
	background : orange;
	font-color : navy;
	font-size : 14pt;
	font-weight : bold;
	text-shadow : 1px 1px 2px white;
	padding-top : 3px;
}
header nav ul li a:hover {
	background : red;	
}

div#loginbox {
	float : right;
	height : 100px;
	width : 200px;
	background : #f2d6b3;
	padding : 5px;
	text-align : center;
}

div#banner {
	padding : 5px;
}

footer {
	text-align : center;
	height : 100px;
	width : 100%;
}


